Data/
.svn
.idea
*.prof
*.pyc
rsconnect/
*.log
*.R
*.Rmd
.Rhistory
*.html
*.h5
.Rproj.user/
PerformanceMeasurementsScratchpad_cache/
PerformanceMeasurementsScratchpad_files/
pandana.Rproj
work-venv/
*_cache/
*_files/
local-analysis/
_output.yml
biblio.bib
