appnope==0.1.0
attrs==19.3.0
backcall==0.2.0
decorator==4.4.2
h5py==2.10.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
llvmlite==0.33.0
more-itertools==8.4.0
mpi4py==3.0.3
numba==0.50.1
numpy==1.19.1
packaging==20.4
pandas==1.0.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
